.feedback-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
.feedback-section-container {
  margin: 30px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 19px;
  box-shadow: 0px 0px 11px 1px #ddd;
  padding: 3.5rem 2rem 2rem;
  color: var(--color-text);
}
.feedback-section-container h1,
.feedback-section-container h5 {
  font-weight: 500;
}
.stars {
  display: flex;
  flex-direction: row;
}

.feedback-section-container input {
  width: 60%;
  margin-top: 15px;
  outline: none;
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 7px;
}
.feedback-section-container textarea {
  width: 60%;
  margin-top: 15px;
  outline: none;
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 7px;
  height: 100px;
}
.feedback-section-container button {
  width: 60%;
  margin-top: 15px;
  outline: none;
  padding: 2px 10px;
  border: none;
  background-color: var(--color-orange);
  font-size: 18px;
  border-radius: 7px;
  color: var(--color-white);
  font-family: "Noto Sans Arabic", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .feedback-section-container {
    margin: 70px 0 25px 0;
    width: 98%;
  }
  .feedback-section-container input {
    width: 90%;
  }
  .feedback-section-container textarea {
    width: 90%;
  }
  .feedback-section-container button {
    width: 90%;
  }
}
