:root {
  --color-sidebar: #f8f8f8;
  --color-white: #fff;
  --color-orange: #c77b41;
  --color-gray: #8f8f8f;
  --color-black: #040404;
  --color-text: #444444;
  --color-footer: #ffffff;
}
body {
  margin: 0;
  font-family: "Noto Sans Arabic", sans-serif;
  direction: rtl;
  background-color: var(--color-sidebar);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h4 {
  font-weight: 500;
}
a {
  text-decoration: none;
}
.scroll-to-top {
  background-color: var(--color-orange) !important;
  bottom: 15px !important;
  right: 15px !important;
}
.scroll-to-top svg {
  fill: var(--color-white) !important;
}
button{
  font-family: "Noto Sans Arabic", sans-serif;
}

